@mixin color {
  color: orange;
}

.wrapper {
  background-color: lightgray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  gap: 0.5rem;
  font-size: xx-large;
}
